/* Global */
body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  height: 90px;
  max-width: 150px;
}

img {
  width: 100%;
}

nav {
  display: none;
  position: fixed;
  top: 90px;
  background: #5e70d6;
  z-index: 1000;
  right: 0px;
}

nav ul {
  padding: 0px;
}

nav li {
  padding: 20px 10px;
  display: block;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.inline-block {
  display: inline-block;
}

h1,
h2,
p {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  padding: 2px;
  margin: 0px;
  font-size: 1.2em;
}

header,
header a,
footer,
footer a {
  background-color: #5e70d6;
  color: #fff;
}

.footer-info {
  max-width: 100%;
  align-items: center;
  padding: 10px 0px;
}

footer h1 {
  font-size: 1em;
}

span.price {
  display: flex;
  float: right;
  color: #5e70d6;
}

.image {
  height: 250px;
  max-width: 700px;
  background-size: cover;
  background-position: center top;
}

.column {
  float: left;
  width: 47%;
  overflow: auto;
  padding: 0px 3px;
  margin: 5px 3px;
  border: black solid 1px;
  background-color: #5e70d6;
}
.row:after {
  content: "";
  clear: both;
}

/* ############ */

/* Links */

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: black;
}

.active {
  text-decoration: underline;
}

.cta {
  background-color: #5e70d6;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 15px;
  display: inline-block;
}

.cta-google {
  background-color: #db4437;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 15px;
  display: inline-block;
}

.cta-facebook {
  background-color: #3b5998;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 15px;
  display: inline-block;
}

.cta-small {
  padding: 10px 20px;
  font-size: 0.9em;
  grid-column: 2;
  grid-row: 2;
  min-width: 160px;
  max-width: 160px;
  max-height: 2em;
  text-align: center;
}

div input {
  margin-bottom: 10px;
  padding: 0.3em;
  display: block;
}

input[type="text"],
input[type="zip"] {
  width: 100%;
  margin-bottom: 0.3em;
  padding: 0.7em;
  border: 2px solid grey;
  border-radius: 7px;
  max-width: 50%;
  max-width: 270px;
}

/* ############ */

/* Forms */
input,
textarea {
  width: 100%;
  margin: 4px 0px;
  padding: 12px;
  font-size: 1em;
  max-width: 500px;
  border-radius: 7px;
  border: 2px solid grey;
}

.form-wrapper {
  display: flex;
  text-align: left;
  flex-direction: column;
}

.form-wrapper > * {
  flex: 1;
  display: flex;
  flex-direction: column;
}

form {
  padding: 1em;
  max-width: 700px;
}

label {
  display: block;
}

.form-error {
  display: none;
  color: red;
  margin-bottom: 5px;
}

.form-success {
  display: none;
  color: green;
  margin-bottom: 5px;
}

button {
  margin-top: 5px;
  padding: 1rem;
  width: 200px;
  background-color: #5e70d6;
  color: white;
  cursor: pointer;
}

/* ############ */

/* Media Queries */

/*I couldn't quite figure this one out unfortunately, outside of as a media query.*/
@media (max-width: 400px) {
  .orderinfo .price {
    margin-left: 2em;
  }
}
@media (min-width: 600px) {
  header {
    justify-content: space-evenly;
  }

  nav {
    display: block;
    position: static;
  }

  nav li {
    display: inline-block;
  }

  header label {
    display: none;
  }
}

@media (max-width: 600px) {
  .column {
    float: none;
    border: none;
    margin-bottom: 10px;
    background-color: white;
  }
}

@media (max-width: 1050px) {
  .row {
    flex-direction: column-reverse;
  }
}

@media (max-width: 1200px) {
  .row {
    flex-direction: column-reverse;
    max-width: 1000px;
    padding: 0 10%;
  }
}

/* ############ */
