/* Login page */

.loginpage {
  max-width: 1000px;
  margin: 50px auto;
  text-align: center;
}

.loginpage p {
  padding-top: 10px;
}

.loginpage p a,
.loginpage h5 a,
.productpage span,
.product-desc span {
  color: #3b5998;
}

/* ############ */
