/* Global */
body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  height: 90px;
}

nav {
  display: none;
  position: fixed;
  top: 90px;
  background: #5e70d6;
  z-index: 1000;
  right: 0px;
}

nav ul {
  padding: 0px;
}

nav li {
  padding: 20px 10px;
  display: block;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

h1,
h2,
p {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  padding: 2px;
  margin: 0px;
  font-size: 1.2em;
}

header,
header a,
footer {
  background-color: #5e70d6;
  color: #fff;
}

.footer-info {
  max-width: 100%;
}

footer span {
  color: #000;
}

footer h2 {
  font-size: 1em;
}
/* ############ */

/* Links */

a {
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

.cta {
  background-color: #5e70d6;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 15px;
  display: inline-block;
}

.cta-small {
  padding: 10px 20px;
  font-size: 0.9em;
  grid-column: 2;
  grid-row: 2;
  min-width: 161.22px;
  text-align: center;
}

/* ############ */

/* Home Page */

.welcome-message {
  padding-top: 130px;
  padding-bottom: 50px;
}

.browse-group {
  padding-bottom: 30px;
}

.register-group {
  padding-bottom: 50px;
}

/* ############ */

/* Media Queries */

@media (min-width: 740px) {
  header {
    justify-content: space-evenly;
  }

  nav {
    display: block;
    position: static;
  }

  nav li {
    display: inline-block;
  }

  header label {
    display: none;
  }
}
/* ############ */
